<div class="page">
    <div class="page-header">
        <!-- <div class="page-header-content"> -->
            <h1>Green Guide</h1>
        <!-- </div> -->
    </div>
    <div class="page-region">
        <div class="page-region-content">
            <div class="input-control text">
                <input class="searchQuery" type="text" placeholder="Enter name of product" />
                <button class="searchButton btn-search"></button>
            </div>
            <input class="searchButton" type="submit" value="Submit"/>
            <center>
                <h4>OR</h4>
                <button class="big"> Scan Barcode </button>
            </center>
        </div>
    </div>
</div>  