<li class="product-list-item" data-id="<%= id %>">
    <div class="icon">
        <img src="<%= image %>">
    </div>
    <div class="data">
        <h4><%= name %></h4>
        <p><%= value %> Value</p>
    </div>
</li>