<div class="page">
  <div class="page-header">
        <!-- <div class="page-header-content"> -->
            <h1>Search Results</h1>
        <!-- </div> -->
    </div>
    <div class="page-region">
        <div class="page-region-content">
            <ul class="results listview">
            </ul>
        </div>
    </div>
</div>
</div>